<h1 mat-dialog-title>Details</h1>
<div mat-dialog-content class="content">
  <mat-form-field>
    <input matInput placeholder="Name" [(ngModel)]="entityEditable.label">
  </mat-form-field>

  Description:
  <div class="edit-container">
    <quill-editor [(ngModel)]="entityEditable.description"></quill-editor>
  </div>

</div>
<div mat-dialog-actions>
  <button mat-stroked-button class="primary" (click)="save()" cdkFocusInitial>Save</button>
  <button mat-stroked-button (click)="discard()">Discard</button>
</div>
