<app-dialog-close-button (close)="dialogRef.close()"></app-dialog-close-button>

<h1 mat-dialog-title>Details</h1>
<div mat-dialog-content class="content">
  <div>
    <span class="caption">Name: </span>
    {{ entity.label }}
  </div>

  <br />

  <div class="caption">Description:</div>
  <div [innerHTML]="entity.description ? entity.description : '<em>No content</em>'" class="description"></div>

</div>

<div mat-dialog-actions>
  <button mat-stroked-button (click)="showEditDialog()">Edit</button>
  <button mat-stroked-button color="primary" mat-dialog-close>Close</button>
</div>
