<mat-form-field>
  <mat-select [(value)]="selectedOption" [placeholder]="placeholder" #picker>
    <mat-select-trigger>
      <ng-container *ngIf="picker.value; let modelById">
        <mat-icon>{{ modelById.icon }}</mat-icon>
        <span>{{ modelById.label }}</span>
      </ng-container>
    </mat-select-trigger>
    <mat-option *ngFor="let option of options" [value]="option">
      <mat-icon>{{ option.icon }}</mat-icon>
      <span>{{ option.label }}</span>
    </mat-option>
  </mat-select>
</mat-form-field>
